@-webkit-keyframes glow {
    to {
         border-color: gold;
    -webkit-box-shadow: 0 0 5px gold;
       -moz-box-shadow: 0 0 5px gold;
            box-shadow: 0 0 5px gold;
    }
}

.PlayerIcon {
    border: 2px solid transparent;
    -webkit-animation: glow 1.0s infinite alternate;  
     -webkit-transition: border 1.0s linear, box-shadow 1.0s linear;
       -moz-transition: border 1.0s linear, box-shadow 1.0s linear;
            transition: border 1.0s linear, box-shadow 1.0s linear;
}
