.avatar-subtext {
    font-size: 12px;
    margin-top: 4px;
}

.fa-star {
    display: none !important;
}

.PlayerIcon-128 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid #0000;
  border-radius: 10px;
  background: linear-gradient(#131219, #131219) padding-box, linear-gradient(
        var(--angle),
        gold,
        #ffffff
      ) border-box;
  animation: 2s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}